#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Row 0 (8 Positionen, letzte existiert physisch nicht -> &none)
                &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Z       &kp U       &none
                // Row 1 (ebenfalls letzte Position leer)
                &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &none
                // Row 2
                &kp Y       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA
                // Row 3
                &kp TAB     &kp LSHFT   &kp LCTRL   &kp SPACE   &kp ENTER   &kp RALT    &kp RSHFT   &kp DOT
                // Row 4
                &kp ESC     &kp LGUI    &kp MINUS   &kp EQUAL   &kp KP_PLUS &kp KP_MINUS &kp SLASH  &kp BACKSPACE
            >;
        };
    };
};
